:root {
  --ff-base: 'Montserrat', sans-serif;
  --fw-normal: 400;
  --fw-bold: 700;
  --color-raisin-black: hsl(0, 0%, 16%);
  --color-whitesmoke: whitesmoke;
}

body {
  background-color: var(--color-whitesmoke);
  color: var(--color-raisin-black);
  font-family: var(--ff-base);
  font-weight: var(--fw-normal);
  margin: 0;
  padding: 0;
}

/* Utilities */
.align-right {
  margin-inline-start: auto;
}

/* Header */
.header {
  background-color: var(--color-raisin-black);
  color: var(--color-whitesmoke);
}

.header ul {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 25px;
  margin: 0;
  list-style-type: none;
}

.header li {
  cursor: pointer;
}

.header .logo {
  font-size: 18px;
  font-weight: var(--fw-bold);
}

.header .icon {
  width: 25px;
}

/* Hero */
.hero h1 {
  font-size: 40px;
  font-weight: var(--fw-normal);
  margin-inline: 25px;
  margin-block: 30px;
}

/* Workspace */
.item-img {
  width: 100%;
}
.caption {
  margin-inline: 25px;
  margin-block: 0;
}
